.ideas-container {
  margin-top: 20px;
}

.ideas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.sort-button {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: lightgreen;
  font-weight: bold;
  margin: 10px;
}

.sort-button:hover {
  background-color: rgb(189, 248, 189);
}