.idea-tile-container {
  width: 300px;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 29px 52px rgba(0, 0, 0, 0.4), 0 25px 16px rgba(0, 0, 0, 0.2);
  background-color: lightgrey;
}

.add-idea-card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 20px;
  border: 1px solid grey;
}

.add-idea-button {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(231, 104, 243);
  font-weight: bold;
}

.add-idea-button:hover {
  background-color: lightpink;
}

.editing-title {
  background-color: #fff;
  border: 2px solid blue
}

.update-input {
  border: none;
  font-weight: bold;
  background-color: inherit;
}
