.idea-tile-container {
  width: 300px;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 29px 52px rgba(0, 0, 0, 0.4), 0 25px 16px rgba(0, 0, 0, 0.2);
  background-color: lightgrey;
}

.idea-tile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea-tile-button {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: lightblue;
  font-weight: bold;
}

.idea-tile-button:hover {
  background-color: lightcyan;
}

.delete-idea-button {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: orange;
  font-weight: bold;
}

.delete-idea-button:hover {
  background-color: rgb(233, 187, 102);
}
